server:
  name: fserv-template
  environment: dev
  version: 1.0.0
  host: 0.0.0.0
  port: 7000

logger:
  level: INFO
  source: true
  file-path: ./logs
  max-size: 50
  max-backups: 5
  max-age: 10
  compress: false

kafka:
  brokers:
    - 127.0.0.1:9092
  commit: true
  consumer-group: default-group

redis:
  host: 127.0.0.1
  port: 6379
  index: 1

mongo:
  url: mongodb://127.0.0.1:27017
  database: messages

database:
  host: 127.0.0.1
  port: 5432
  username:
  password:
  db: